<div class="productCell" onclick="markSale_<%=p.id%>()">
  <div class="productInfo">
    <!-- Product Icon -->
    <img class="productIcon" src="/icons/<%=p.icon%>.png" alt="icon">
    <p class="categorydisplay"><em><%=p.category%></em></p><!-- Category -->
    <p class="productnamedisplay"><strong><%=p.name%></strong></p><!-- Product name -->
    <p class="productpricedisplay"><%=p.price%>€</p><!-- Price -->

  </div>
  <!-- Meter to display Current Stock -->
<meter class='productmeter' min='0' low='<%=p.lowAlarm%>'max='<%=p.maxAmount%>'value='<%=p.amount%>'> stock</meter>

</div>

<script>
    async function markSale_<%=p.id%>() {
     var saleData = new URLSearchParams();
     saleData.append('productID', '<%=p.id%>');
     const response = await fetch('/markProduct', { body: saleData, method: "PUT"})
     .then(response => response.json())
     .then(data => {
          console.log('Response from server:', data);
          newlist = '';
          total = 0.00;
          for(i = 0; i < data.length;i++){
            newlist += "<p>"+data[i].name + " x " + data[i].amount + " - " + data[i].price.toFixed(2) + "€</p>";
            total += Number(data[i].price + data[i].amount);
          }
          newlist += '<br> Total: ' + total.toFixed(2) + "€";
          document.getElementById('salesdisplay').innerHTML = newlist;
        })
        .catch(error => {
          console.error('Error:', error);
        });

    }
  </script>
